@model One_Pass_Fitness.Models.BookingClasses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookingClasses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bookingdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookingdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attendancestatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attendancestatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Memberid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.Classname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingClassesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
