@model IEnumerable<One_Pass_Fitness.Models.BookingClasses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookingdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendancestatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bookingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendancestatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Memberid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Classname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingClassesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingClassesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingClassesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
