@model IEnumerable<One_Pass_Fitness.Models.Classes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Trainedfield)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
